brotlipy==0.7.0
chronos==1.2.0
darts==0.29.0
dash-bootstrap-components==1.6.0
datasetsforecast==0.0.8
geopy==2.4.0
jupyter==1.0.0
jupyterlab==3.6.3
loss-landscapes==3.0.6
meteostat==1.6.8
mplfinance==0.12.10b0
neuralprophet==0.8.0
nixtlats==0.1.21
nolds==0.5.2
patool==1.12
pip==24.0
pyOpenSSL==23.2.0
PyQt5-sip==12.11.0
PySocks==1.7.1
PyWavelets==1.4.1
ray==2.11.0
reformer-pytorch==1.4.4
seaborn==0.13.1
sip==6.6.2
sktime==0.16.1
tensorflow==2.18.0
torchaudio==2.0.2
torchvision==0.18.1
torchviz==0.0.2
yfinance==0.2.32
